@page "/"

<h1>Hello, world!</h1>

<ul class="nav flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="swagger/index.html" target="_blank">Swagger</NavLink>
    </li>
</ul>
