@page "/"
@page "/pizzas"

@using PizzaBlazor.Client.Components.Modals
@using PizzaBlazor.Client.Components.Items

<div class="main">
    <ul class="pizza-cards">
        @if (specials != null)
        {
            @foreach (var special in specials)
            {
                <PizzaSpecialCard Special="special"
                                  OnClickSpecial="OrderStateInstance.ShowConfigurePizzaDialog" />
            }

            @if (OrderStateInstance.ShowingConfigureDialog)
            {
                <ConfigurePizzaDialog Pizza="OrderStateInstance.ConfiguringPizza"
                                      AvailableToppings="selectableToppings"
                                      OnCancel="OrderStateInstance.CancelConfigurePizzaDialog"
                                      OnConfirm="OrderStateInstance.ConfirmConfigurePizzaDialog" />
            }
        }
    </ul>
</div>

<OrderSideBar ItemsInCart="order" />